header {
    background-image: url("../assets/img/Background_header.svg");
    background-position: top;
    background-position-y: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}


